.vscode/settings.json
.vscode/settings.json
codes_nahid/new_project.cpp
codes_nahid/new_project.exe
.vscode/settings.json
codes_nahid/temp.cpp
codes_nahid/buyer_details.txt
codes_nahid/temp.exe
ShuvraCode/buyer_details.txt
ShuvraCode/main.exe
